.page-sdk {
    overflow: auto;
    height: 100%;
    min-width: 930px;

    main {
        width: 660px;
    }

    .content {
        margin: 0 30px;
        padding: 30px;
        background-color: #ffffff;
    }

    article.content { 
        display: flex;
        justify-content: start;
    }

    .select-item-true {
        .app-name+.input-list{
            >span{
                padding-left: 61px;
            }
        }
        .input-list {
            margin-bottom: 20px;

            >span {
                padding-left: 25px;
                padding-right: 10px;
                width: auto;
            }

            >.ant-input {
                width: 356px;
            }
        }
    }
    .select-item-false{
        .app-name{
            margin-bottom: 32px;
            span{
                width: auto;
                margin-right: 35px;
                margin-left: 28px;
             
            }
        }
    }
    .input-list {
        >span {
            width: 180px;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            white-space: nowrap;
        }

        display: flex;
        align-items: center;
    }

    .radio-list {
        padding-bottom: 18px;
    }

    .config-row {
        margin-left: 125px;
    }


    .phone-card {
        position: relative;

        >span {
            position: absolute;
            left: 25px;
            height: 40px;
            line-height: 40px;
            display: block;
        }
    }

    .confige-clue {
        padding-left: 10px;
        opacity: 0.4;
    }

    .ios-card {
        padding-top: 12px;
        padding-bottom: 48px;

        >span {
            height: 32px;
            line-height: 32px;
        }

        .input-list {
            margin-top: 24px;

            .text {
                width: 100px;
            }
        }
    }

    .android-card {
        .config-row {
            margin-bottom: 35px;
            margin-left: 125px;
            padding-left: 38px;
            position: relative;

            >img {
                width: 32px;
                height: 32px;
                margin-top: 4px;
                position: absolute;
                left: 0;
            }

            .input-list {
                margin-bottom: 16px;
            }
        }

    }
    .table-content{
        .ant-table-thead>tr>th{
            background-color: #595C63;
            color: #ffffff;
        }
        .products-actibe a{
            color: #1890ff;
        }
    }

}